{% extends "base.html" %}

{% block content %}
<h1>Albums</h1>

<p><a href="{% url 'home_page' %}">All Albums</a></p>

<div class="flex flex-wrap">
    {% for album in albums %}
    <div class="w-33 pa3">
    <h2>{{ album.title }}</h2>

    <div class="flex">
        <div class="pr2"><i class="icofont-artist-name"></i></div>
        <div>{{ album.artist }}</div>
    </div>

    <p>
        <a href="{% url 'edit_album' pk=contact.pk %}">Edit Album</a><br>    
        <a class="red" href="{% url 'delete_album' pk=contact.pk %}">Delete Album</a><br>
        <a href="{% url 'album_detail' pk=contact.pk %}">Album Detail</a>
    </p>
    </div>
    {% endfor %}
</div>  
{% endblock %}
